[Unit]
Description=avingest
After=syslog.target

[Service]
User=ec2-user
WorkingDirectory=/data/app
ExecStart=/usr/bin/java -jar /data/app/ingester-1.0.0-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target