[Unit]
Description=silkspinner
After=syslog.target

[Service]
User=ec2-user
WorkingDirectory=/data/app
ExecStart=/usr/bin/java -jar /data/app/silkspinner.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target