<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <style type="text/css" class="init">
	
	  </style>

    <title>Silkspinner</title>
  </head>
  <body>
    <div class="container">
        {{>layout/navbar}}

        <div class="row">
            <div class="col-10">
                File Viewer: {{site.season}} {{site.name}} - {{dataFile.name}}<br />
                <small>ID: {{dataFile.id}}</small>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="/datafile-bytes.html?siteId={{site.id}}&id={{dataFile.id}}">Download Video</a>
            </div>
        </div>

        <br />
        <h3>Audio Analysis</h3>
        <div class="mb-3">
            <div id="waveform" style="border:1px solid grey"></div>
            <div id="wave-timeline"></div>
        </div>        
        <div class="mb-3">
            <div id="waveform-spectrogram" style="border:1px solid grey"></div>
        </div> 
        <div class="mb-3">
            <button class="btn btn-primary" data-action="play" onclick="wavesurfer.playPause()">Play / Pause</button>
        </div>

        <br />
    
        <h3>Decibal Analysis</h3>
        <div class="row">
            <div class="col mb-3">
                <table class="table display">
                    <thead>
                        <tr><th>Time</th><th>Peak</th></tr>
                    </thead>
                </table>
                <div class="table-responsive" style="max-height:180px;">
                    <table class="table display">
                        <tbody>
                            {{#dataFile.peakAnalysis.frames}}
                                <tr><td>{{pkt_pts_time}}</td><td>{{decibal}}</td></tr>
                            {{/dataFile.peakAnalysis.frames}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <table class="table display">
                    <thead>
                        <tr><th>Time</th><th>RMS</th></tr>
                    </thead>
                </table>
                <div class="table-responsive" style="max-height:180px;">
                    <table class="table display">
                        <tbody>
                            {{#dataFile.rmsAnalysis.frames}}
                                <tr><td>{{pkt_pts_time}}</td><td>{{decibal}}</td></tr>
                            {{/dataFile.rmsAnalysis.frames}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      {{>layout/footer}}
    </div>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.markers.min.js"></script>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'grey',
            progressColor: 'blue',
            barHeight:5,

            plugins: [
                WaveSurfer.spectrogram.create({
                    wavesurfer: wavesurfer,
                    container: "#waveform-spectrogram",
                    labels: true
                }),

                WaveSurfer.timeline.create({
                    container: "#wave-timeline"
                }),

                WaveSurfer.markers.create({
                    markers: [
                        {{#dataFile.voiceDetectTimes}}
                        {
                            time: {{time}},
                            label: "VOICE",
                            color: '#ff990a'
                        },
                        {{/dataFile.voiceDetectTimes}}
                        {
                            time: -10
                        }
                    ]
                })
            ]
        });

        wavesurfer.load('/datafile-bytes.html?siteId={{site.id}}&id={{dataFile.id}}');
    </script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            //$("#fileTranscript").DataTable();
        } );
    </script>
  </body>
</html>
