<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <style type="text/css" class="init">
	
	  </style>

    <title>SilkSpinner</title>
  </head>
  <body>
    <div class="container">
      {{>layout/navbar}}

      <div class="mb-3">
        <div class="table-responsive">
          <table id="ftpfiles" class="table display">
            <thead>
              <tr>
                <th>File</th>
                <th>WaveForm</th>
                <th>Voice Detected?</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {{#uploads}}
              <tr>
                <td>
                  <a href="/file.html?id={{filename}}">{{filename}}</a><br />
                </td>
                <td>
                  {{#waveform}}
                    <img src="/fileWaveform.html?id={{filename}}" height="128" width="128" />
                  {{/waveform}}
                </td>
                <td>{{voiceDetected}}</td>
                <td>{{status}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Actions">
                    <a class="btn btn-primary" href="/export.html?id={{filename}}">CSV</a>
                    <a class="btn btn-danger" href="/delete.html?id={{filename}}">Delete</a>
                  </div>
                </td>
              </tr>
            {{/uploads}}
            </tbody>
          </table>
        </div>
      </div>  
    </div>

    <div class="container">
      {{>layout/footer}}
    </div>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function() {
            $("#ftpfiles").DataTable();
        } );
    </script>
  </body>
</html>
